<div id="banner">
	<div class="banner_content">
		<h1>Note</h1>
		<p>Your online notebook</p>
		<button><%= link_to "Sign Up", new_user_registration_path %></button>
	</div>
</div>
<div id="testimonial">
	<div class="wrapper">
		<p class="quote">"Best Notebook Application."</p>
		<p class="name">- Rahymov</p>
	</div>
</div>
<div id="callouts">
	<div class="callout_inner">
		<div class="wrapper">
			<div class="callout">
				<h2>Notes</h2>
				<p>After signing in a user, confirming the account or updating the password, Devise will look for a scoped root path to redirect to. For instance, when using a :user resource, the user_root_path will be used if it exists; otherwise, the default root_path will be used. This means that you need to set the root inside your routes: </p>
			</div>
			<div class="callout">
				<h2>Notes</h2>
				<p>After signing in a user, confirming the account or updating the password, Devise will look for a scoped root path to redirect to. For instance, when using a :user resource, the user_root_path will be used if it exists; otherwise, the default root_path will be used. This means that you need to set the root inside your routes:</p>
			</div>
			<div class="callout">
				<h2>Notes</h2>
				<p>After signing in a user, confirming the account or updating the password, Devise will look for a scoped root path to redirect to. For instance, when using a :user resource, the user_root_path will be used if it exists; otherwise, the default root_path will be used. This means that you need to set the root inside your routes:</p>
			</div>
		</div>
	</div>
</div>